* text=auto
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.glb binary
*.usdz binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ktx2 binary
*.oex binary

# Hash-bound third-party license bytes must survive Windows autocrlf checkout.
/vendor/notices/ltc-LICENSE.txt -text
